@import "color";
@import "mixins";
@import "media";

a{
    text-decoration: none;
}
.btn{
    border-radius: 0;
    text-transform: uppercase;
}
#gift-img{
    fill: #fff;
}

//  ---- header -----

header{
    background: $gray;
}

.form-hidden{
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    height: 46px;
    padding: 12px 20px;
    background: $gray;
    display: none;
    z-index: 9999;
    .input-container{
        position: relative;
        width: 90%;
        input{
            width: 100%;
            border: none;
            outline: none;
            border-radius: 40px;
            padding: 0 15px;
            height: 22px;
            min-width: 100px
        }
        input[placeholder]{
            text-overflow:ellipsis;
        }
        button{
            position: absolute;
            top: 0;
            right: 3px;
            height: 100%;
            width: 25px;
            border: none;
            outline: none;
            background: transparent;
            @include flex-c-c;
            &:hover .fa-search{
                color: $orange;
            }
            .fa-search{
                color: $darkgray;
                transition: .6s;
            }
        }
    }
    .far{
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 20px;
        color: $darkgray;
        transition: .6s;
        cursor: pointer;
    }
}
.top-bar{
    height: 46px;
    margin: 0 auto;
    flex-wrap: nowrap;
    .btn-gift{
        background: $orange;
        color: #fff;
        padding-left: 58px;
        position: relative;
        height: 100%;
        transition: .4s;
        &::before{
            content: '';
            position: absolute;
            top: 8px;
            left: 20px;
            width: 21px;
            height: 26px;
            background: url(../images/header/gift.svg);
            @include img-bg;
        }
        &:hover{
            opacity: .6;
        }
    }
    .btn-gift-2{
        background: $orange;
        height: 100%;
        transition: .4s;
        width: 60px;
        display: none;
    }
    form{
        padding: 12px 20px;
        background: $gray;
        height: 100%;
        border-right: 1px solid #ddd;
        flex-grow: 4;
        .input-container{
            position: relative;
            width: 100%;
            input{
                width: 100%;
                border: none;
                outline: none;
                border-radius: 40px;
                padding: 0 15px;
                height: 22px;
            }
            input[placeholder]{
                text-overflow:ellipsis;
            }
            button{
                position: absolute;
                top: 0;
                right: 3px;
                height: 100%;
                width: 25px;
                border: none;
                outline: none;
                background: transparent;
                @include flex-c-c;
                &:hover .fa-search{
                    color: $orange;
                }
                .fa-search{
                    color: $darkgray;
                    transition: .6s;
                }
            }
        }
    }
    .top-bar-button{
        width: 53px;
        height: 100%;
        background: $gray;
        border: none;
        outline: none;
        @include flex-c-c;
        border-right: 1px solid $darkgray;
        display: none;
        &:hover .fa-search{
            color: $orange;
        }
        .fa-search{
            color: $darkgray;
            transition: .4s;
        }
    }
    select{
        min-width: 93px;
        height: 46px;
        overflow: hidden;
    }
    .dd{
        border-radius: 0;
        height: 46px;
        border-left: 1px solid $darkgray;
        border-right: 1px solid #ddd;
        position: relative;
        background: $gray;
        cursor: pointer;
        outline: none;
        .ddTitle{
            height: 46px;
            min-width: 90px;
            border-radius: 0;
            background: $gray;
            padding-left: 9px;
            padding-top: 3px;
            margin-top: -5px;
            .divider{
                display: none;
            }
            .ddTitleText{
                margin-top: 4px;
            }
        }
        .ddChild{
            min-width: 93px !important;
           ul{
                li{
                    height: 46px;
                    width: 93px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid #ddd;
                    &:last-child{
                        border-bottom: none;
                        height: 46px;
                        z-index: 9999;
                    }
                }
           }
        }
    }
    &-media, &-letter-1, &-letter-2{
        height: 100%;
        background: $gray;
        padding: 0 18px;
        border-left: 1px solid $darkgray;
        border-right: 1px solid #ddd;
        position: relative;
        a{
           transition: 0.7s;
           color: $darkgray;
           text-decoration: none;
           text-transform: uppercase;
           &:hover{
               color: $orange;
           }
        }
        &:after{
            position: absolute;
            content: '';
            height: 100%;
            width: 1px;
            background: $darkgray;
            top: 0;
            right: -2px;
        }
    }
    // &-letter-2{
    //     display: none !important;
    // }
}
.shadow{
    box-shadow: none !important;
}
.fa-stack { font-size: 0.7em; }
i { vertical-align: middle; }

// ---------- navbar --------
.navbar-wrapper{
    width: 100%;
    background-color: #1b1b1b;
    background-image: url(../images/header/fon.png);
    @include img-bg;  
}
.navbar-container{
    .navbar{
        padding: 22px 0;
        .navbar-toggler{
            margin-bottom: 20px;
            outline: none !important;
            &-icon{
                color: #fff !important;
                cursor: pointer;
            }
            .fas{
                color: $textgray;
                transition: .4s;
            }
            &:hover .fas{
                color: $orange;
            }
        }
        ul{
            li{
                margin-right: 20px;
                a{
                    color: $textgray;
                    text-transform: uppercase;
                    font-size: 17px;
                    transition: .4s;
                    font-family: 'Oswald', sans-serif;
                    &:hover{
                        color: $orange;
                    }
                    &:hover path{
                        fill: $orange;
                    }
                    svg{
                        margin-bottom: 7px;
                    }
                    svg path{
                        transition: .4s;
                    }
                }
            }
        }
    }
}

// ------ main -------

.main{
    background-color: #dbdde4;
    background-image: url(../images/main/cross.png);
    @include img-bg;
    .main-container{
        padding-bottom: 70px;
        .row{
            .main-section-title{
                text-align: center;
                margin: 50px 0 60px;
                h1{
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 42px;
                }
                span{
                    font-weight: 500;
                }
            }
        }
        .main-cards-container{
            .main-card{
                @include flex-column-c-c;
                text-align: center;
                img{
                    transition: .2s;
                    margin-bottom: 50px;
                }
                a{
                    text-decoration: none;
                    font-size: 18px;
                    color: #000;
                    text-transform: uppercase;
                    transition: .2s;
                }
                &:hover img{
                    transform: scale(1.1);
                }
                &:hover a{
                    color: $orange;
                    transform: scale(1.1);
                }
            }
        }
    }
}

// --------- brands --------

.brands{
    background: #252525;
    .brands-container{
        .brands-row{
            .media, .gazprom, .chery{
                height: 142px;
                border-bottom: 1px solid #454545;
            }
            .gazprom{
                img{
                    margin-top: 25px;
                }
            }
            .media{
                .fa-stack{
                    font-size: 30px;
                    transition: .4s;
                    color: #454545;
                    &:hover{
                        color: $orange;
                    }
                }
            }
            .chery{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-end;
                img:nth-child(1){
                    margin: 20px 27px 0 0;
                }
                img:nth-child(2){
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// ------ share -------

.share{
    background: #252525;
    .share-container{
        .row{
            padding: 20px 0;
            border-bottom: 1px solid #454545;
            div{
                font-size: 22px;
                color: #454545;
                a{
                    text-decoration: none;
                    color: #454545;
                    margin: 0 5px;
                    .fa-stack{
                        transition: .4s;
                    }
                    .fab{
                        color: #252525;
                    }
                    &:hover{
                        color: $orange;
                    }
                }
            }
            .share-item-1{
                text-align: right;
                padding-right: 50px;
            }
        }
    }
}

// ------- footer ------

footer{
    background: #252525;
    .footer-row{
        color: #454545;
        font-size: 14px;
        padding: 40px 0 45px;
        .footer-cop{
            a{
                color: #fff;
                text-decoration: none;
                transition: .4s;
                &:hover{
                    color: $orange;
                }
            }
        }
        .footer-language{
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                list-style-type: none;
                li{
                    padding: 0 13px;
                    border-right: 1px solid #454545;
                    &:nth-child(4){
                        border-right: none;
                    }
                    a{
                        text-transform: uppercase;
                        color: #454545;
                        text-decoration: none;
                        transition: .4s;
                        &:hover{
                            color: #fff;
                        }
                    }
                    .footer-language-active{
                        color: #fff;
                    }
                }
            }
        }
    }
    .creator{
        text-align: right;
        span{
            a{
                color: #fff;
                text-decoration: none;
                transition: .4s;
                &:hover{
                    color: $orange;
                }
            }
        }
    }
}


@import "media";
