$accent: #ec660f;
$text-title: #232a31;
$text-title-accent: #222930;
$text-p: #454545;
$phone-page: #f7f7f7;
$news: #afacac;

@mixin bg-img {
    background: {
        repeat: no-repeat;
        size: cover;
        position: center center;
    }
}
@mixin stora {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(236, 102, 15, 0.5);
    transform: scale(0);
    transition: all 0.8s ease;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
@mixin stora-h2 {
    h4 {
        display: inline-block;
        text-transform: uppercase;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 80%;
            height: 4px;
            background: #fff;
            top: -20px;
            left: 10%;
        }
        &::after {
            position: absolute;
            content: '';
            width: 80%;
            height: 4px;
            background: #fff;
            bottom: -20px;
            right: 10%;
        }
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.wrap{
    width: 80%;
    margin: 0 auto;
}
.wrap-menu-burger{
    display: none;
}
h1, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
h2{
    font-size: 45px;
    color: #000;
}
.btn{
    padding: 20px 40px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
    background: #fff;
    color:  $accent;
    border: 3px solid  $accent;
    display: inline-block;
    cursor: pointer;
    &:hover{
        background:  $accent;
        color: #fff;
        border: 3px solid transparent;
    }
}
.news-btn{
    padding: 20px 40px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
    background: #fff;
    color:  $news;
    border: 3px solid  $news;
    display: inline-block;
    cursor: pointer;
    &:hover{
        background:  $news;
        color: #fff;
        border: 3px solid transparent;
    }
}
.thin-title{
    font-weight: 100;
}
.up{
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: 2px solid $accent;
    text-align: center;
    line-height: 50px;
    background: transparent;
    color: $accent;
    font-size: 20px;
    transition: 0.3s;
    display: none;
    cursor: pointer;
    z-index: 999;
    &:hover{
        background: $accent;
        color: #fff;
        border-color: #fff;
    }
}

// ----- preloader -----

.preloader{
    position: fixed;
    background: #fefefe;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

// ----- header -----


header{
    width: 100%;
    height: 100vh;
    background: url('images/header/terrier.jpg');
    @include bg-img;
    padding-top: 50px;
    .wrap{
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-brand{
                display: flex;
                justify-content: center;
                align-items: center;
                .brand{
                    width: 35px;
                    margin-right: 8px;
                }
                a{
                    font-size: 25px;
                    letter-spacing: 1.5px;
                    span:nth-child(1){
                        font-weight: bold;
                        color:#000;
                    }
                    span:nth-child(2){
                        font-weight: 100;
                        color: $text-title;
                    }
                }
            }
            .menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                li a{
                    color: $text-title;
                    text-transform: uppercase;
                    margin-left: 30px;
                    transition: 0.3s;
                    &:hover{
                        color: $accent;
                    }
                }
                li  .active-page{
                    color: $accent;
                }
            }
        }
        .cont-title{
            margin-top: 200px;
            padding-left: 40px;
            border-left: 4px solid $accent;
            span{
                font-size: 40px;
                margin-bottom: 25px;
            }
            h1{
                font-size: 60px;
                span{
                    color:  $accent;
                    font-size: 60px;
                }
            }

        }
        .menu-burger{
            display: flex;
            align-items: center;
            .burger{
                width: 25px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-right: 20px;
                cursor: pointer;
                .burger-line{
                    width: 100%;
                    height: 15%;
                    background: #000;
                    transition: 0.3s;
                } 
                .line-one-active{
                    transform: rotate(45deg) translateY(4px) translateX(5px);
                }
                .line-two-active{
                    transform: scale(0);
                }
                .line-three-active{
                    transform: rotate(-45deg) translateY(-4px) translateX(5px);
                }
            }
            h2{
                font-weight: normal;
                color: #232a31;
                font-size: 28px;
            }
        }
    }
}
.header-page{
    width: 100%;
    padding-top: 50px;
    .wrap{
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-brand{
                display: flex;
                justify-content: center;
                align-items: center;
                .brand{
                    width: 35px;
                    margin-right: 8px;
                }
                a{
                    font-size: 25px;
                    letter-spacing: 1.5px;
                    span:nth-child(1){
                        font-weight: bold;
                        color:#000;
                    }
                    span:nth-child(2){
                        font-weight: 100;
                        color: $text-title;
                    }
                }
            }
            .menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                li a{
                    color: $text-title;
                    text-transform: uppercase;
                    margin-left: 30px;
                    transition: 0.3s;
                    &:hover{
                        color: $accent;
                    }
                }
                li  .active-page{
                    color: $accent;
                }
            }
        }
        .menu-burger{
            display: flex;
            align-items: center;
            .burger{
                width: 25px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-right: 20px;
                cursor: pointer;
                .burger-line{
                    width: 100%;
                    height: 15%;
                    background: #000;
                    transition: 0.3s;
                } 
                .line-one-active{
                    transform: rotate(45deg) translateY(4px) translateX(5px);
                }
                .line-two-active{
                    transform: scale(0);
                }
                .line-three-active{
                    transform: rotate(-45deg) translateY(-4px) translateX(5px);
                }
            }
            h2{
                font-weight: normal;
                color: #232a31;
                font-size: 28px;
            }
        }
    }
    .under-menu{
        width: 100%;
        background: $phone-page;
        padding: 40px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 50px;
        .wrap{
            ul{
                display: flex;
                text-transform: uppercase;
                font-size: 14px;
                li:nth-child(1){
                    margin-right: 20px;
                }
                li:nth-child(2){
                    margin-left: 20px;
                }
                li a{
                    color: #000;
                    transition: 0.3s;
                    &:hover{
                        color: $accent;
                    }
                }
            }
        }
    }
}
#about{
    display: flex;
    width: 100%;
    height: 650px;
    .about-img{
        width: 50%;
        height: 100%;
        background: $text-title;
        background: #232a31;
        overflow: hidden;
        position: relative;
        .inner-img{
            position: absolute;
            width: 120%;
            height: 120%;
            background-image: url(/images/about/dog-about.jpg);
            @include bg-img;
            transition: all 1s ease;
            &:hover{
                transform: translate(-10%, -10%) scale(0.9);
            }
        }
    }
    .about-txt{
        width: 50%;
        height: 100%;
        padding: 120px 80px 0 80px;
        box-sizing: border-box;
        p{
            margin: 70px 0 30px 0;
            color: $text-p;
            font-size: 16px;
            line-height: 30px;
        }
    }
}
// ------ about-page -----

.about-content{
    margin-top: 90px;
    padding-bottom: 150px;
}
.about-content .wrap{
    .about-content-img{
        float: left;
        margin: 0 30px 30px 0;
        width: 500px;
        height: 450px;
        background: url(/images/about/adorable.jpg);
        @include bg-img;
    }
    h2{
        margin-bottom: 40px;
    }
    p{
        line-height: 1.5em;
        color: $text-p;
        margin-bottom: 50px;
    }
}

// ------ our-awards  page -----

.our-awards{
    padding: 150px 0;
    background: $phone-page;
    .wrap{
        text-align: center;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        h2{
            display: inline-block;
            margin-bottom: 50px;
        }
        .our-awards-cont{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            .award-item{
                width: 350px;
                height: 350px;
                text-align: center;
                .award-item-img{
                    width: 80%;
                    height: 80%;
                    margin: 0 auto;
                }
                .aig-1{
                    background: url(/images/about/aig-1.png);
                    @include bg-img;
                }
                .aig-2{
                    background: url(/images/about/aig-2.png);
                    @include bg-img;
                }
                .aig-3{
                    background: url(/images/about/aig-3.png);
                    @include bg-img;
                }
                h4{
                    margin-top: 30px;
                }
            }
            
                    
            
            
        }
    }
}
.address-inst{
    width: 100%;
    height: 100vh;
    background:grey url(/images/about/kitten.jpg);
    @include bg-img;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    .address-inst-title{
        width: 50%;
        margin-left: 10%;
        h2{
            color:#fff;
            line-height: 1.3em;
        }
    }
}

// ----- gallery -----

#gallery{
    padding: 80px 0;
}
#gallery .wrap{
    text-align: center;
    h2{
        margin-bottom: 60px;
    }
    .cont-btn{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .gallery-btn{
            padding: 20px 40px;
            font-weight: bold;
            transition: 0.3s;
            color: $accent;
            background: #fff;
            border: 3px solid $accent;
            margin: 0 12px 20px;
            cursor: pointer;
            &:hover{
                color: #fff;
                background: $accent;
                border: 3px solid transparent;
            }
        }
        .gallery-btn-active{
            position: relative;
            background: $accent;
            color: #fff;
            &::before{
                content: "";
                position: absolute;
                bottom: -20px;
                left: calc(50% - 10px);
                border: 10px solid transparent;
                border-top: 10px solid $accent;
            }
        }
    }
    .cont-gallery{
        width: 100%;
        margin: 50px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .gallery-img {
            width: 350px;
            height: 350px;
            background: #454545;
            margin-bottom: 10px;
            position: relative;
            .gallery-img-child {
                @include stora;
                @include stora-h2;
            }
            &:hover > .gallery-img-child{
            transform: scale(1);
            }
        }
        .gallery-item-1{
            background: url(/images/gallery/dachshund.jpg);
            @include bg-img;
            overflow: hidden;
        }
        .gallery-item-2{
            background: url(/images/gallery/raccoon-1.jpg);
            @include bg-img;
            overflow: hidden;
        }
        .gallery-item-3{
            background: url(/images/gallery/raccoon-2.jpg);
            @include bg-img;
            overflow: hidden;
        }
        .gallery-item-4{
            background: url(/images/gallery/cat-2.jpg);
            @include bg-img;
            overflow: hidden;
        }
        .gallery-item-5{
            background: url(/images/gallery/dog.jpg);
            @include bg-img;
            overflow: hidden;
        }
        .gallery-item-6{
            background: url(/images/gallery/cat-1.jpg);
            @include bg-img;
            overflow: hidden;
        }
    }
}
#blog{
    padding: 120px 0;
    background: #232a31;
    .wrap{
        text-align: center;
        h2{
            color: #fff;
        }
        .cont-blog{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin: 70px 0;
            .blog-card{
                width: 340px;
                padding-bottom: 40px;
                border-bottom: 1px solid #545454;
                color: #fff;
                text-align: left;
                margin-bottom: 20px;
                .blog-img{
                    width: 100%;
                    height: 340px;
                    background: #454545;
                    position: relative;
                    overflow: hidden;
                    &:hover > .blog-card-inside{
                        top: 0;
                    }
                    .blog-card-inside{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 340px;
                        left: 0;
                        background: rgba(236, 102, 15,.5);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.6s;
                        h4{
                            display: block;
                            width: 100%;
                            text-align: center;
                            padding: 20px 0;
                            background: rgba(236, 102, 15,.8);
                            color: #fff;
                        }
                    }
                }
                .blog-img-1{
                    background-image: url(/images/blog/blog-1.jpg);
                    @include bg-img;
                    overflow: hidden;
                }
                .blog-img-2{
                    background-image: url(/images/blog/blog-2.jpg);
                    @include bg-img;
                    overflow: hidden;
                }
                .blog-img-3{
                    background-image: url(/images/blog/blog-3.jpg);
                    @include bg-img;
                    overflow: hidden;
                }
                span{
                    margin: 40px 0;
                    font-weight: bold;
                    display: inline-block;
                }
                a{
                    color: #fff;
                    transition: 0.3s;
                    &:hover{
                        color: $accent;
                    }
                    h4{
                        text-transform: uppercase;
                    }
                }    
            }
        }
    }
}
#contacts{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10%;
    background: url(/images/contacts/child-1538561_1280.jpg);
    @include bg-img;
    .wrap-contacts{
        width: 60%;
        h2{
            color: #fff;
            margin-bottom: 70px;
            span{
                font-weight: 100;
            }
        }
        form{
            .msg{
                padding: 20px 0 20px 40px;
                outline: none;
                border: 3px solid transparent;
                width: 400px;
            }
            .btn{
                margin-left: -5px;
            }
        }

    }
}
footer{
    background: $phone-page;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer-icons{
        width: 100%;
        text-align: center;
        margin-top: 20px;
        .fab{
            margin: 0 10px;
            color: #000;
            transition: 0.3s;
            padding: 10px;
            position: relative;
            &:hover{
                color: $accent;
                background-color: rgba(84, 84, 84,.2);
                border-radius: 5px;
            }

        }
    }
}

// ------ gallery-page ------


.gallery-main{
    padding: 120px 0;
    .wrap{
        text-align: center;
        h1{
            font-size: 60px;
            margin-bottom: 40px;
        }
        p{
            line-height: 25px;
            color: $text-p;
        }
        .gallery-container{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 80px;
            position: relative;
            .gallery-page-img{
                display: block;
                height: 600px;
                background: $text-title;
                position: relative;
                margin-bottom: 20px;
                cursor: pointer;
                .gallery-img-child {
                    @include stora;
                    @include stora-h2;
                }
                &:hover > .gallery-img-child{
                transform: scale(1);
                }
            }
            .gallery-main-item-1{
                width: 100%;
                background: url(/images/gallery/dog-1.jpg);
                @include bg-img;
                position: relative;
                h3{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    padding: 10px 20px;
                    background-color: #000;
                    text-transform: uppercase;
                    color: #fff;
                    letter-spacing: 0.2em;
                }
            }
            .gallery-main-item-2{
                width: 48.7%;
                background: url(/images/gallery/cat-1.jpg);
                @include bg-img;
            }
            .gallery-main-item-3{
                width: 48.7%;
                background: url(/images/gallery/cat-2.jpg);
                @include bg-img;
            }
            .gallery-main-item-4{
                width: 100%;
                background: url(/images/gallery/raccoon-1.jpg);
                @include bg-img;
            }
            .gallery-main-item-5{
                width: 32%;
                background: url(/images/gallery/dog-2.jpg);
                @include bg-img;
            }
            .gallery-main-item-6{
                width: 32%;
                background: url(/images/gallery/dog-3.jpg);
                @include bg-img;
            }
            .gallery-main-item-7{
                width: 32%;
                background: url(/images/gallery/cat-3.jpg);
                @include bg-img;
            }
            .gallery-main-item-8{
                width: 30%;
                background: url(/images/gallery/dachshund.jpg);
                @include bg-img;
            }
            .gallery-main-item-9{
                width: 68%;
                background: url(/images/gallery/dog.jpg);
                @include bg-img;
            }
                   
        }
    }
}

// --------- gallery-page-hank ---------

.gallery-hank{
    padding: 120px 0;
    .wrap{
        text-align: center;
        h1{
            font-size: 60px;
            font-weight: normal;
        }
        .gallery-container{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 80px;
            position: relative;
            .gallery-hank-img{
                display: block;
                height: 200px;
                width: 30%;
                background: $text-title;
                position: relative;
                margin-bottom: 20px;
                cursor: pointer;
                .gallery-img-child {
                    @include stora;
                    @include stora-h2;
                }
                &:hover > .gallery-img-child{
                transform: scale(1);
                }
            }
            .gallery-hank-item-1{
                background: url(/images/gallery/dachshund.jpg);
                @include bg-img;
            }
            .gallery-hank-item-2{
                background: url(/images/gallery/dog-3.jpg);
                @include bg-img;
            }
            .gallery-hank-item-3{
                background: url(/images/about/adorable.jpg);
                @include bg-img;
            }
            .gallery-hank-item-4{
                background: url(/images/blog/blog-2.jpg);
                @include bg-img;
            }
            .gallery-hank-item-5{
                background: url(/images/blog/blog-3.jpg);
                @include bg-img;
            }
        }
    }
}

// ------- news page ----------

.news-wrap{
    display: flex;
    padding: 90px 0;
    article{
        width: 65%;
        section{
            margin-bottom: 80px;
            .news-section-img{
                width: 100%;
                height: 400px;
                background: #232a31;
                overflow: hidden;
                position: relative;
                .inner-img{
                    position: absolute;
                    width: 120%;
                    height: 120%;
                    transition: all 1s ease;
                    &:hover{
                        transform: translate(-10%, -10%) scale(0.9);
                    }
                }
                .inner-img-1{
                    background: url(/images/blog/blog-3.jpg);
                    @include bg-img;
                }
                .inner-img-2{
                    background: url(/images/blog/blog-2.jpg);
                    @include bg-img;
                }
                .inner-img-3{
                    background: url(/images/blog/blog-1.jpg);
                    @include bg-img;
                }
                .inner-img-4{
                    background: url(/images/gallery/dog-2.jpg);
                    @include bg-img;
                }
            }
            .news-start-title{
                margin-top: 70px;
                padding-left: 10px;
                h3{
                    margin-bottom: 25px;
                    text-transform: capitalize;
                }
                p{
                    line-height: 25px;
                    color: $text-p;
                    margin-bottom: 25px;
                }
            }
            .news-dates-media{
                padding: 0 10px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                font-size: 14px;
                color: $news;
                .news-media a{
                    padding: 10px;
                    color: $news;
                    transition: 0.3s;
                    &:hover{
                        color: $accent;
                        background-color: rgba(84, 84, 84,.2);
                        border-radius: 5px;
                    }
                }
            }
            .news-btn-container{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                font-size: 12px;
                margin-top: 40px;
                .news-group-btn{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .news-btn{
                        padding: 10px 20px;
                        border-width: 2px;
                        margin: 0 10px;
                    }
                }
                .btn{
                    padding: 10px 20px;
                    border-width: 2px;
                    margin-right: 20px;
                }
            }
        }
    }
    aside{
        width: 35%;
        box-sizing: border-box;
        padding-left: 20px;
        h3{
            color: $news;
            display: inline-block;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                height: 2px;
                width: 120%;
                background: $news;
            }
        }
        .news-group-btn{
            margin: 50px 0;
            .news-btn{
                padding: 10px 20px;
                border-width: 2px;
                font-size: 12px;
                margin-bottom: 5px;
            }
        }
        .news-comments{
            margin: 40px 0;
            li{
                margin-bottom: 20px;
                line-height: 23px;
                a{
                    font-weight: bold;
                    color: #000;
                    transition: 0.3s;
                    &:hover{
                        color: $accent;
                    }
                }
            }
        }
        .news-categories{
            margin: 40px 0 40px 18px;
            li{ 
                padding-left: 20px;
                margin-bottom: 20px;
                list-style-image: url(/images/news/right-arrow.svg);
                a{
                    font-weight: bold;
                    color: #000;
                    transition: 0.3s;
                    &:hover{
                        color: $accent;
                    }
                }
            }
        }
        .calendar{
            width: 350px;
            height: auto;
            box-sizing: border-box;
            margin-top: 50px;
            .calendar-header{
                display: flex;
                flex-direction: raw;
                justify-content: flex-start;
                span:nth-child(1){
                    margin: 0 50px 0 20px;
                    font-weight: bold;
                    a{
                        color: $news;
                        transition: 0.3s;
                        &:hover{
                            color: $accent;
                        }
                    }
                }
                span:nth-child(2){
                    font-weight: bold;
                }
            }
            .calendar-date{
                padding: 20px;
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(25px,1fr));
                grid-gap: 20px;
                box-sizing: border-box;
                .calendar-day{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 25px;
                    color: $news;
                }
                .calendar-number-active{
                    color: #fff;
                    background-color: $accent;
                    cursor: pointer;
                }
                .calendar-number{
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 25px;
                }
            }
        }
    }
}

// -------- contacts page --------

.contacts-page{
    padding: 100px 0;
    .wrap{
        display: flex;
        .contacts-container{
            width: 50%;
            padding-right: 70px;
            .contacts-header{
                h1{
                    margin-bottom: 40px;
                }
                h4{
                    margin-bottom: 20px;
                    font-weight: 100;
                    a{
                        color: #000;
                        transition: 0.3s;
                        font-weight: bold;
                        &:hover{
                        color: $accent;
                        }
                    
                    }
                
                }
                p{
                    margin-top: 60px;
                }
            }
            form{
                box-sizing: border-box;
                margin-top: 40px;
                width: 100%;
                background: $phone-page;
                display: flex;
                flex-direction: column;
                padding: 30px 20px;
                input, textarea{
                    padding: 20px 30px;
                    background: #fff;
                    border: none;
                    outline: none;
                    margin-bottom: 3px;
                }
                textarea{
                    height: 100px;
                }
                div{
                    margin: 30px auto 0;
                }
            }
        }
        .contacts-img{
            width: 50%;
            height: 730px;
            background: url(/images/contacts/dog-contacts.jpg);
            @include bg-img;
        }
    }
}


